def functionname(parameters):
    st1
    st2
    st2
    st4
    return

In [6]:
def greet(name):
    print('hello ' + name + ' Good morning')

In [7]:
greet('nikhil')

hello nikhil Good morning

In [8]:
greet('ajay')

hello ajay Good morning

In [22]:
def greeting(name):
    print('hello ' + name)
    return 10
    print('hello world')

In [23]:
greeting('sachin')

hello sachin

10

In [11]:
import random

In [14]:
a = random.random()

In [15]:
a

0.5840967484383659

In [16]:
b= greeting('sid')

hello sid

In [17]:
b

10

In [18]:
def add(x,y):
    return x+y

In [19]:
a = add(5,6)

In [20]:
a

11

In [21]:
add(7,9)

16

In [24]:
def greet(name):
    return 'hello {}'.format(name)

In [26]:
a = greet('vaishali')

In [27]:
a

'hello vaishali'

In [31]:
add([1,2,3,4,5,6],[6,5,4,4,3,3,2])

[1, 2, 3, 4, 5, 6, 6, 5, 4, 4, 3, 3, 2]

In [32]:
add('nikhil','redhat')

'nikhilredhat'

In [39]:
def eve_odd(num):
    if num % 2 :
        return 'odd'
    else:
        return 'even'

In [40]:
eve_odd(9)

'odd'

In [41]:
def rem(seq,item):
    count = seq.count(item)
    for var in range(count):
        seq.remove(item)

In [46]:
def ncount(seq,item):
    lettercount = 0
    for var in seq:
        if var == item:
            lettercount += 1
    return lettercount

In [43]:
ncount('banana','a')

3

In [45]:
def vcount(sq,item):
    lettercount = 0
    print(sq)
    for var in sq:
        if var == item:
            print("^",end='')
            lettercount += 1
        else:
            print(' ',end='')
            
    return lettercount

In [47]:
vcount('banana','a')

banana
 ^ ^ ^

3

In [2]:
l = [3,3,4,5,6,7,3,4,5,7,3,4,3,3,3,3]
i = []

In [3]:
def rem(seq,item):
    count = seq.count(item)
    for var in range(count):
        seq.remove(item)

In [4]:
l

[3, 3, 4, 5, 6, 7, 3, 4, 5, 7, 3, 4, 3, 3, 3, 3]

In [5]:
rem(l,3)

In [6]:
l

[4, 5, 6, 7, 4, 5, 7, 4]

In [7]:
def count(seq,item):
    lettercount = 0
    for var in seq:
        if var == item:
            lettercount += 1
    return lettercount

In [8]:
count('banana','a')

3

In [3]:
def ncount(seq,item):
    lettercount = 0
    print(seq)
    for var in seq:
        if var == item:
            print('^',end='')
            lettercount += 1
        else:
            print(' ',end='')
    return lettercount

In [4]:
ncount('banana','a')

banana
 ^ ^ ^

3

In [25]:
def fact(num):
    if num == 1:
        return 1
    else:
        return num*fact(num-1)

In [26]:
fact(5)

120

In [27]:
a = fact(5)

In [28]:
a

120

In [9]:
fact(5,6)

TypeError: fact() takes 1 positional argument but 2 were given

In [43]:
def add_sub(n,m):
    r = n+m
    b = n-m
    return r,b

In [44]:
a,c = add_sub(9,8)
print(a,c,sep='\n')

17
1

In [29]:
def square(num):
    r = 0
    for var in num:
        r = var ** 2
        yield r

In [31]:
a = square([1,2,3,4,5,6,7,8,9])

In [32]:
a

In [33]:
for var in a:
    print(var)

1
4
9
16
25
36
49
64
81

In [35]:
print(*a)

In [36]:
b = square([7,6,5,7])

In [37]:
b

In [38]:
print(*b)

49 36 25 49

In [42]:
print(*b)

In [41]:
for var in b:
    print(var)

# Different types of argument
* Positional argument
* Default argument
* Variable length argument
* Keyword argument

In [50]:
# positional plus default arguments
def add(a,b=0,c=0):  # default arguments
    return a+b+c

In [18]:
def mul(a,b=0,c=0):
    return a*b*c

In [12]:
add(3,5)

8

In [13]:
add(4,5,6)

15

In [14]:
add(b=5,a=6,c=9)

20

In [21]:
add(5,b=6,c=9)

20

In [23]:
mul(7,6)

0

In [45]:
sum([1,2,3,4,5,6])

21

* is used for tupple 
** is used for dictionary

In [46]:
def mysum(*args):
    a = 0
    for var in args:
        a = a + var
    return a

In [47]:
mysum(1,2,3,4,5,6,7,8,5,4,7,5,6,67,7,5)

142

In [48]:
mysum(5,6,7)

18

In [49]:
mysum(7,6)

13