In [3]:
x = [1,2,'hi','hello',3,4]
x.append('india')
x.append(10)
print(x)

[1, 2, 'hi', 'hello', 3, 4, 'india', 10]

In [4]:
x.index('hello')

3

In [2]:
hello_ind = x.index('hello')
x.insert(hello_ind,'grras')
print(x)

[1, 2, 'hi', 'grras', 'hello', 3, 4, 'india', 10]

In [5]:
sq = ['hello','hi','python',12,3,4,4,5,6]
x.extend(sq)
print(x)

[1, 2, 'hi', 'hello', 3, 4, 'india', 10, 'hello', 'hi', 'python', 12, 3, 4, 4, 5, 6]

In [6]:
x = [1,'hi','hello',3,4,5]
x.append(5)
x[2] = 'sawan'
x.insert(2,'hi')
x.append('wow')
x.insert(5,567)
x.append(['hey','hi','hellow'])
x.extend('python')
print(x)

[1, 'hi', 'hi', 'sawan', 3, 567, 4, 5, 5, 'wow', ['hey', 'hi', 'hellow'], 'p', 'y', 't', 'h', 'o', 'n']

In [8]:
y = [1,2,3,'hello',6,5,'hi']
y.pop()
y.pop()
y.pop(1)
print(y)

[1, 3, 'hello', 6]

In [9]:
height = [ 5.11,6, 5.10,5.7,6,5.8,5.9,5.6,5.7,5.10 ]
avg_height = sum(height)/len(height)
avg_height = round(avg_height,2)
print(avg_height)

5.6

In [10]:
sum(height)

56.010000000000005

In [11]:
len(height)

10

In [13]:
round(sum(height)/len(height),2)

5.6

In [15]:
a,b,c,d = 3,4,5,8
print(a**(b+c))
print(a*b**c)
print(a + b * c / d)

19683
3072
5.5

In [14]:
3**2

9

In [16]:
3**9

19683

In [17]:
x,y = 3,4

In [18]:
print(x)
print(y)

3
4

In [19]:
y,x = x,y
print(x)
print(y)

4
3

In [22]:
for var in range(1,5,1):
	print(var)

1
2
3
4

In [23]:
'spam' + 'spamspam'

'spamspamspam'

In [24]:
'spam'*3

'spamspamspam'

In [25]:
'i have eaten ' + "91" + ' burritos'

'i have eaten 91 burritos'