def functionname(parameters):
    st1
    st2
    st2
    st4
    return

In [6]:
def greet(name):
    print('hello ' + name + ' Good morning')

In [7]:
greet('nikhil')

hello nikhil Good morning

In [8]:
greet('ajay')

hello ajay Good morning

In [22]:
def greeting(name):
    print('hello ' + name)
    return 10
    print('hello world')

In [23]:
greeting('sachin')

hello sachin

10

In [11]:
import random

In [14]:
a = random.random()

In [15]:
a

0.5840967484383659

In [16]:
b= greeting('sid')

hello sid

In [17]:
b

10

In [18]:
def add(x,y):
    return x+y

In [19]:
a = add(5,6)

In [20]:
a

11

In [21]:
add(7,9)

16

In [24]:
def greet(name):
    return 'hello {}'.format(name)

In [26]:
a = greet('vaishali')

In [27]:
a

'hello vaishali'

In [31]:
add([1,2,3,4,5,6],[6,5,4,4,3,3,2])

[1, 2, 3, 4, 5, 6, 6, 5, 4, 4, 3, 3, 2]

In [32]:
add('nikhil','redhat')

'nikhilredhat'

In [39]:
def eve_odd(num):
    if num % 2 :
        return 'odd'
    else:
        return 'even'

In [40]:
eve_odd(9)

'odd'

In [41]:
def rem(seq,item):
    count = seq.count(item)
    for var in range(count):
        seq.remove(item)

In [46]:
def ncount(seq,item):
    lettercount = 0
    for var in seq:
        if var == item:
            lettercount += 1
    return lettercount

In [43]:
ncount('banana','a')

3

In [45]:
def vcount(sq,item):
    lettercount = 0
    print(sq)
    for var in sq:
        if var == item:
            print("^",end='')
            lettercount += 1
        else:
            print(' ',end='')
            
    return lettercount

In [47]:
vcount('banana','a')

banana
 ^ ^ ^

3

In [2]:
l = [3,3,4,5,6,7,3,4,5,7,3,4,3,3,3,3]
i = []

In [3]:
def rem(seq,item):
    count = seq.count(item)
    for var in range(count):
        seq.remove(item)

In [4]:
l

[3, 3, 4, 5, 6, 7, 3, 4, 5, 7, 3, 4, 3, 3, 3, 3]

In [5]:
rem(l,3)

In [6]:
l

[4, 5, 6, 7, 4, 5, 7, 4]

In [7]:
def count(seq,item):
    lettercount = 0
    for var in seq:
        if var == item:
            lettercount += 1
    return lettercount

In [8]:
count('banana','a')

3

In [3]:
def ncount(seq,item):
    lettercount = 0
    print(seq)
    for var in seq:
        if var == item:
            print('^',end='')
            lettercount += 1
        else:
            print(' ',end='')
    return lettercount

In [4]:
ncount('banana','a')

banana
 ^ ^ ^

3

In [25]:
def fact(num):
    if num == 1:
        return 1
    else:
        return num*fact(num-1)

In [26]:
fact(5)

120

In [27]:
a = fact(5)

In [28]:
a

120

In [9]:
fact(5,6)

TypeError: fact() takes 1 positional argument but 2 were given

In [43]:
def add_sub(n,m):
    r = n+m
    b = n-m
    return r,b

In [44]:
a,c = add_sub(9,8)
print(a,c,sep='\n')

17
1

In [29]:
def square(num):
    r = 0
    for var in num:
        r = var ** 2
        yield r

In [31]:
a = square([1,2,3,4,5,6,7,8,9])

In [32]:
a

In [33]:
for var in a:
    print(var)

1
4
9
16
25
36
49
64
81

In [35]:
print(*a)

In [36]:
b = square([7,6,5,7])

In [37]:
b

In [38]:
print(*b)

49 36 25 49

In [42]:
print(*b)

In [41]:
for var in b:
    print(var)

# Different types of argument
* Positional argument
* Default argument
* Variable length argument
* Keyword argument

In [50]:
# positional plus default arguments
def add(a,b=0,c=0):  # default arguments
    return a+b+c

In [18]:
def mul(a,b=0,c=0):
    return a*b*c

In [12]:
add(3,5)

8

In [13]:
add(4,5,6)

15

In [14]:
add(b=5,a=6,c=9)

20

In [21]:
add(5,b=6,c=9)

20

In [23]:
mul(7,6)

0

In [45]:
sum([1,2,3,4,5,6])

21

* is used for tupple 
** is used for dictionary

In [46]:
def mysum(*args):
    a = 0
    for var in args:
        a = a + var
    return a

In [47]:
mysum(1,2,3,4,5,6,7,8,5,4,7,5,6,67,7,5)

142

In [48]:
mysum(5,6,7)

18

In [49]:
mysum(7,6)

13

In [1]:
a = {'name':'ajay','subject':'python','class':'grras'}

In [2]:
def printdict(**kwargs):
    for key,value in kwargs.items():
        print('{} === {}'.format(key,value))

In [3]:
printdict(**a)

name === ajay
subject === python
class === grras

In [4]:
printdict(name='ajay',python='grras',aws='nikhil')

name === ajay
python === grras
aws === nikhil

# lambda funciton 
lambda function is also known as anonymous function

* map 
* filter 
* reduce  # reduce will be imported from functools

In [5]:
a = lambda x : x*x

In [6]:
a(8)

64

In [7]:
b = lambda x : x+x

In [8]:
b(9)

18

In [9]:
a = [1,2,3,4,5,6,7,8,9,10]

In [12]:
x = list(map(lambda h : h**2,a))

In [13]:
x

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
import random

In [15]:
a = [random.randint(1,100) for var in range(30)]

In [16]:
print(a)

[7, 48, 53, 93, 32, 32, 58, 65, 15, 64, 94, 45, 31, 94, 82, 77, 50, 54, 91, 50, 21, 18, 32, 100, 93, 81, 32, 65, 81, 65]

In [17]:
n = list(map(lambda x : x**2,a))

In [18]:
print(n)

[49, 2304, 2809, 8649, 1024, 1024, 3364, 4225, 225, 4096, 8836, 2025, 961, 8836, 6724, 5929, 2500, 2916, 8281, 2500, 441, 324, 1024, 10000, 8649, 6561, 1024, 4225, 6561, 4225]

In [19]:
even = list(filter(lambda x : x%2==0 ,n))
print(even)

[2304, 1024, 1024, 3364, 4096, 8836, 8836, 6724, 2500, 2916, 2500, 324, 1024, 10000, 1024]

In [20]:
print(n)

[49, 2304, 2809, 8649, 1024, 1024, 3364, 4225, 225, 4096, 8836, 2025, 961, 8836, 6724, 5929, 2500, 2916, 8281, 2500, 441, 324, 1024, 10000, 8649, 6561, 1024, 4225, 6561, 4225]

In [25]:
even_odd = lambda x : 'even' if x % 2 ==0 else 'odd'

In [22]:
def even_odd(x):
    if x % 2 ==0 :
        return 'even'
    else:
        return 'odd'

In [24]:
even_odd(9)

'odd'

In [26]:
great = lambda x,y : 'x is greater' if x >= y else 'y is greater'
great(8,9)

'y is greater'

In [33]:
greatest = lambda x,y,z : 'x is greater' if x >=y and x >= z else \
            ('y is greater' if y >= z else 'z is greater')

In [34]:
greatest(9,8,7)

'x is greater'

In [35]:
greatest(8,9,7)

'y is greater'

In [36]:
greatest(7,8,9)

'z is greater'

In [37]:
star = list(map(lambda x : '*'*x ,range(1,10)))

In [38]:
print(*star,sep='\n')

*
**
***
****
*****
******
*******
********
*********

In [42]:
print(*star)

* ** *** **** ***** ****** ******* ******** *********

In [43]:
from functools import reduce

In [45]:
mysum = reduce(lambda x,y : x+y,n)

In [46]:
mysum

120311

In [47]:
print(n)

[49, 2304, 2809, 8649, 1024, 1024, 3364, 4225, 225, 4096, 8836, 2025, 961, 8836, 6724, 5929, 2500, 2916, 8281, 2500, 441, 324, 1024, 10000, 8649, 6561, 1024, 4225, 6561, 4225]

In [48]:
print(sum(n))

120311

In [49]:
def f(num):
    r = 0 
    for var in num:
        r = r + var
    return r

In [50]:
f(n)

120311

In [52]:
x = list(map(int,input().split()))

1 2 3 4 5 6 7 8 9 19

In [53]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 19]

In [55]:
y = list(map(int,input().split()))

1 22 3 4 5 6 7 7

In [56]:
y

[1, 22, 3, 4, 5, 6, 7, 7]

In [57]:
fil = list(filter(lambda x : x%2==0 ,map(int,input().split())))

1 2 3 4 5 6 7 7 66 55 44 22

In [58]:
fil

[2, 4, 6, 66, 44, 22]

In [59]:
od = list(filter(lambda x : x%2 ,map(int,input('enter the comma sep values :').split(','))))

enter the comma sep values :1,2,3,4,5,6,7,8,9,10,11

In [60]:
od

[1, 3, 5, 7, 9, 11]

In [61]:
import random

In [64]:
y = random.sample(range(1,100),99)

In [65]:
even = filter(lambda x : x%2 ==0 ,y)
print(even)

<filter object at 0x000001A755018E10>

In [66]:
print(*even)

12 74 18 90 32 14 94 26 16 8 70 28 4 76 50 64 36 68 84 98 38 88 56 54 46 40 24 52 42 96 92 10 62 80 82 60 66 30 86 34 58 48 20 22 72 2 78 6 44